name = "batteries"
testDriver = "BatteriesTest"
lintDriver = "runLinter"
defaultTargets = ["Batteries", "runLinter"]

[leanOptions]
linter.missingDocs = true

[[lean_lib]]
name = "Batteries"
leanOptions = {linter.unusedSimpArgs = false, backward.isDefEq.transparencyEscalation = true}

[[lean_lib]]
name = "BatteriesTest"
globs = ["BatteriesTest.+"]
leanOptions = {linter.missingDocs = false}

[[lean_exe]]
name = "runLinter"
srcDir = "scripts"
supportInterpreter = true

[[lean_exe]]
name = "test"
srcDir = "scripts"

# `lake exe shake` checks files for unnecessary imports.
[[lean_exe]]
name = "shake"
root = "Shake.Main"
supportInterpreter = true
